.one{
    height: 100vh;
    width: 100vw-24px;
    max-width: 50rem;
    margin: 0 auto 0 auto;
}

.matches {
    display: flex;
    justify-content: center;
}

.card-open{
    background-color: rgb(23, 66, 0);
    color: aliceblue;
    height: 10rem;
    width: 50rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 0;
    transition: 0.3s;
}

.card-closed{
    background-color: rgb(78, 0, 0);
    color: aliceblue;
    height: 10rem;
    width: 50rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 0;
    transition: 0.3s;
}

.card-ended{
    background-color: rgb(67, 67, 67);
    color: aliceblue;
    height: 10rem;
    width: 50rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 0;
    transition: 0.3s;
}

.card-addevent{
    background-color: rgb(67, 67, 67);
    color: aliceblue;
    height: 5rem;
    width: 50rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 0;
    transition: 0.3s;
}

.card{
    background-color: rgb(67, 67, 67);
    color: aliceblue;
    height: 10rem;
    width: 50rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 0;
    transition: 0.3s;
}

.card:active {
    background-color: forestgreen;
}


.title {
    margin: 1rem 1rem 0 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.time {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.stamp {
    margin: 0;
}

.date {
    margin: 0 0 0 1rem;
}

.participants {
    display: flex;
    justify-content: center;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0;
}