{% extends 'layout.html' %}

{% block body %}

<p></p>
<p></p>

<div class="container">
    <div class="one">
        <form method="POST" action="">
            <h1>{{match_list[1]}}</h1>
            <p>{{match_list[2]}} - {{match_list[3]}}</p>
            <p>{{match_list[4]}}</p>
            <p>{{match_list[5]}}</p>


            <table style="width:100%;">
                <thead>
                    <tr>
                        <th>Ingeschreven:</th>
                        <th>Betaald:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(n_players) %}
                    <tr>
                        <td> {{participants_data[i][0]}} </td>
                        <td> {% if participants_data[i][4] != 'NULL' %} Yes! :) {% else %} Nope :( {% endif %} </td>
                    </tr>
                    {% endfor %}

                    {% if match_list[6] == "open" %}
                    <tr>
                        <td>
                            <datalist id="names" name= "names" method="POST" action="/">
                                {% for name in names %}
                                <option value= "{{name}}" SELECTED>{{name}}</option>"
                                {% endfor %}
                                <option disabled selected value> -- select a name -- </option>
                            </datalist>
                            <input name="uname" autoComplete="off" list="names" class="form-control"/> 
                        </td>
                        <td></td>
                    </tr>
                    {% endif %}                    
                </tbody>
            </table>
           

            {% if message != ''%}
            <p>
                {{ message }}
            </p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}