{% extends 'layout.html' %}

{% block body %}
<script language="JavaScript">
    
    function statusChange(slction){
        document.getElementById('save').value = slction.value;
    }
</script>

<div class="container">
    <div class="one">
        <form id="form" method="POST" action="">
            <h1>{{match_list[1]}}</h1>
            <p>{{match_list[2]}} - {{match_list[3]}}</p>
            <p>{{match_list[4]}}</p>
            <p>{{match_list[10]}}</p>
            <p>{{match_list[9]}}</p>
            <p>Wachtwoord: {{match_list[8]}}</p>

            <label for="status">Status:</label>

            <select name="status" id="status" onchange="statusChange(this)">
              <option value="open" {% if match_list[6] == "open" %} selected="selected" {% endif %}>Open voor inschrijvingen</option>
              <option value="ended" {% if match_list[6] == "ended" %} selected="selected" {% endif %}>Afgelopen en open voor betalingen</option>
              <option value="closed" {% if match_list[6] == "closed" %} selected="selected" {% endif %}>Gesloten voor inschrijvingen en betalingen</option>
            </select>

            <p>Maximum aantal mensen: {{match_list[5]}}</p>
            <p>
                <label for="price">Prijs:</label>
                <input name="price" type="number" id="price" step="0.10" value="{{match_list[7]}}" ><br>
            </p>
            
            <button name="save" id="save" type="submit" value="{{match_list[6]}}">Opslaan</button>
            <button name="delete" id="delete" type="submit" value="">Verwijder event</button>
        </form>
        <br>
        <form id="form2" method="POST" action="">
            <table style="width:100%;">
                <thead>
                    <tr>
                        <th>Ingeschreven:</th>
                        {% if match_list[6] == "ended" %}
                            <th>Betaald:</th>
                        {% endif %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(n_players) %}
                    <tr>
                        <td> {{participants_data[i][0]}} </td>
                        {% if match_list[6] == "ended" %}
                            <td> {% if participants_data[i][5] == 1 %} Yes! :) {% else %} Nope :( {% endif %} </td>
                            {% if participants_data[i][5] == 0 %}
                                <td><input type="checkbox" name="{{ participants_data[i][0] }}"></td>
                            {% else %}
                                <td></td>
                            {% endif %}  
                        {% else %}
                            <td><input type="checkbox" name="{{ participants_data[i][0] }}"></td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                    {% if match_list[6] == "open" %}
                    <tr>
                        <td>
                            <datalist id="names" name= "names" method="POST" action="/">
                                {% for name in names %}
                                    <option value= "{{name}}" SELECTED>{{name}}</option>"
                                {% endfor %}
                                <option disabled selected value> -- select a name -- </option>
                            </datalist>
                            <input name="uname" autoComplete="off" list="names" class="form-control" form="form3" autofocus/> 
                        </td>
                        <!-- <td><input type="submit" name="submit" value="Uitschrijven" method="POST" action="/"> </td> -->
                        <td><button name="unsubscribe" id="unsubscribe" type="submit" value="">Verwijder event</button></td>
                    </tr>  
                    {% elif match_list[6] == "ended" %}

                    <tr>
                        <td></td>
                        <td></td>
                        <td><input type="submit" name="submit" value="Veranderingen opslaan" method="POST" action="/"> </td>
                    </tr>      
                    {% endif %}              
                </tbody>
            </table>
        </form>
           

        {% if message != ''%}
        <p>
            {{ message }}
        </p>
        {% endif %}

        <form id="form3" method="POST" action="">
        </form>
    </div>
</div>
{% endblock %}