{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" href="../static/matches.css">
<script language="JavaScript">

    function statusChange(slction) {
        document.getElementById('save').value = slction.value;
        if (document.getElementById('save').value == "ended") {
            document.getElementById("price").style.display = "block"; // to show
            document.getElementById("pricelabel").style.display = "block"; // to show
        }
        else {
            document.getElementById("price").style.display = "none"; // to hide   
            document.getElementById("pricelabel").style.display = "none"; // to hide  
        }
    }

    var c = 0;
    function handleClick(cb) {
        if (cb.checked) {
            c += 1;
        }
        else {
            c -= 1;
        }

        if (c > 0) {
            {% if match_list[6] == "open" %}
            document.getElementById("unsubscribe").disabled = "";
            document.getElementById("uname").style.display = "none"; // to hide  
            document.getElementById("sub").style.display = "none"; // to hide    
            document.getElementById("unsubscribe").style.display = "block"; // to show

            {% elif match_list[6] == "ended" %}
            document.getElementById("mark").style.display = "block"; // to show

            {% elif match_list[6] == "closed" %}
            document.getElementById("export").style.display = "block"; // to show
            {% endif %}
        }
        else {
            {% if match_list[6] == "open" %}
            document.getElementById("unsubscribe").disabled = "disabled";
            document.getElementById("unsubscribe").style.display = "none"; // to hide    
            document.getElementById("uname").style.display = "block"; // to show 
            document.getElementById("sub").style.display = "block"; // to show
            {% elif match_list[6] == "ended" %}
            document.getElementById("mark").style.display = "none"; // to show

            {% elif match_list[6] == "closed" %}
            document.getElementById("export").style.display = "none"; // to show
            {% endif %}
        }
    }

    var form4 = document.getElementById("form4");
    form4.addEventListener("submit", submitForm, true);

    function submitForm(event) {
        event.preventDefault();
        alertify.confirm("This is a confirm dialog.",
            function () {
                document.getElementById("form4").submit();
            },
            function () {
            });
    }       
</script>

<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />

<div class="container">
    <div class="one">
        {% if message != "" %}
        <div class="alert alert-warning" role="alert">
            {{message}}
        </div>
        {% endif %}
        <div class="matches">
            <div class="card-{{match_list[6]}}">
                <div class="header">
                    <div>
                        <h2 class="title">{{match_list[4]}}</h2>
                        <p class="date">{{match_list[12]}}</p>
                    </div>
                    <div class="time">
                        <h4 class="stamp">{{match_list[2]}}</h4>
                        <h4 class="stamp">{{match_list[3]}}</h4>
                    </div>
                </div>
                <div class="participants">
                    <p>{{ match_list[10] }} / {{ match_list[5] }}</p>
                </div>
            </div>
        </div>
        <br>
        <form id="form" method="POST" action="">
            <div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="basic-addon2" style="width:8rem;">Adres:</span>
                    <input type="text" class="form-control" placeholder="Leesbaar voor iedereen"
                        value="{{match_list[11]}}" disabled="disabled">
                </div>
            </div>
            <div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="passwordlabel" style="width:8rem;">Wachtwoord:</span>
                    <input type="text" class="form-control" id="password" placeholder="Leesbaar voor iedereen"
                        value="{{match_list[8]}}" disabled="disabled">
                </div>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="basic-addon2" style="width:8rem;">Notitie:</span>
                <input type="text" class="form-control" name="note" placeholder="Leesbaar voor iedereen"
                    value="{{match_list[9]}}" autocomplete="off">
            </div>

            <div class="input-group input-group-sm mb-3">
                <label class="input-group-text" for="status" style="width:8rem;">Status:</label>
                <select class="form-select" name="status" id="status" onchange="statusChange(this)">
                    <option value="open" {% if match_list[6]=="open" %} selected="selected" {% endif %}>Open voor
                        inschrijvingen</option>
                    <option value="closed" {% if match_list[6]=="closed" %} selected="selected" {% endif %}>Gesloten
                        voor inschrijvingen en betalingen</option>
                    <option value="ended" {% if match_list[6]=="ended" %} selected="selected" {% endif %}>Afgelopen en
                        open voor betalingen</option>
                </select>
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="pricelabel" {% if match_list[6]=="ended" %}
                    style="display: block; width:8rem; text-align: left;" {% else %} style="display: none; " {% endif
                    %}>Prijs:</span>
                <input name="price" class="form-control" type="number" id="price" step="0.01" value="{{match_list[7]}}"
                    {% if match_list[6]=="ended" %} style="display: block" {% else %} style="display: none" {% endif %}>
            </div>
            <div class="split">
                <button name="delete" id="delete" type="submit" class="btn btn-danger btn-sm" form="form4"
                    value="">Verwijder
                    event</button>
                <button name="save" id="save" type="submit" class="btn btn-success btn-sm"
                    value="{{match_list[6]}}">Opslaan</button>
            </div>
        </form>
        <br>
        <br>
        <form id="form2" method="POST" action="">
            <table class="table" style="font-size:14px">
                <thead>
                    <tr>
                        <th>Ingeschreven:</th>
                        {% if match_list[6] == "ended" %}
                        <th>Betaald:</th>
                        {% else %}
                        <th></th>
                        {% endif %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(n_players) %}
                    <tr>
                        <td> {{participants_data[i][0]}} </td>
                        {% if match_list[6] == "ended" %}
                        <td> {% if participants_data[i][5] == 1 %} Yes! :) {% else %} Nope :( {% endif %} </td>
                        {% if participants_data[i][5] == 0 %}
                        <td><input type="checkbox" class="form-check-input" name="{{ participants_data[i][0] }}"
                                onclick='handleClick(this)'></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        {% elif match_list[6] == "open" %}
                        <td><input type="checkbox" class="form-check-input" name="{{ participants_data[i][0] }}"
                                onclick='handleClick(this)'></td>
                        {% else %}
                        <td>{{"Nieuw" if participants_data[i][2] == 1}}</td>
                        <td>{{"Onder Voorbehoud" if participants_data[i][3] == 1}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if match_list[6] == "open" %}
            <div class="input-group input-group-sm mb-3">
                <datalist id="names" name="names" method="POST" action="/">
                    {% for name in names %}
                    <option value="{{name}}" SELECTED>{{name}}</option>"
                    {% endfor %}
                    <option disabled selected value> -- select a name -- </option>
                </datalist>
                <input name="uname" id="uname" class="form-control" autoComplete="off" list="names" form="form3"
                    placeholder="Voornaam + Achternaam">
                <button id="sub" class="btn btn-success" form="form3">Inschrijven</button>
            </div>
            <div class="input-group mb-3">
                <button name="unsubscribe" id="unsubscribe" type="submit" value="" class="btn btn-danger"
                    disabled="disabled" style="display: none">Uitschrijven</button>
            </div>
            {% elif match_list[6] == "ended" %}

            <input type="submit" id="mark" name="submit" value="Aanvinken als betaald" method="POST" action="/"
                class="btn btn-sm btn-success" style="display: none">
            {% elif match_list[6] == "closed" %}

            <input type="submit" id="export" name="export" value="Namenlijst exporteren" method="POST" action="/"
                class="btn btn-sm btn-success" form="form5" {% if match_list[6] !="closed" %} style="display: none" {%
                endif %}>
            {% endif %}
        </form>

        <form id="form3" method="POST" action="">
        </form>

        <form id="form4" method="POST" action="">
        </form>

        <form id="form5" method="POST" action="">
        </form>
    </div>
</div>
{% endblock %}