{% extends 'layout.html' %}

{% block body %}

<p></p>
<p></p>

<div class="container">
    <div class="one">
        <form method="POST" action="">
            <h1>{{match_list[1]}}</h1>
            <p>{{match_list[2]}} - {{match_list[3]}}</p>
            <p>{{match_list[4]}}</p>
            <p>{{match_list[5]}}</p>


            <table style="width:100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ingeschreven:</th>
                        <th>Betaald:</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in range(n_players) %}
                    <tr>
                        {% if match_list[6] != 1 and participants_data[i][5] == 0 %}
                        <td><input type="checkbox" name="{{ participants_data[i][0] }}"></td>
                        {% else %}
                        <td></td>
                        {% endif %}  
                        <td> {{participants_data[i][0]}} </td>
                        <td> {% if participants_data[i][5] %} Yes! :) {% else %} Nope :( {% endif %} </td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td><input type="submit" name="submit" value="Submit" method="POST" action="/"> </td>
                        <td></td>
                        <td></td>
                    </tr>                  
                </tbody>
            </table>
           

            {% if message != ''%}
            <p>
                {{ message }}
            </p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}