{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" href="../static/payment.css">

<script>
    var c = 0;
    var price = {{match_list[7]}};
    function handleClick(cb) {
        if (cb.checked) {
            c += 1;
        }
        else {
            c-=1;
        }
        var new_price = price *c;
        document.getElementById("submit").value = "€" +String(parseFloat(new_price).toFixed(2)) + " betalen";
        if (c>0){
            document.getElementById("submit").style.display = "block"; // to show
        }
        else {
            document.getElementById("submit").style.display = "none"; // to hide    
        }
    }       
</script>

<div class="container">
    <div class="one">
        <div class="matches">
            <div class="card-ended">
                <div class="header">
                    <div>
                        <h2 class="title">{{match_list[4]}}</h2>
                        <p class="date">{{match_list[12]}}</p>
                    </div>
                    <div class="time">
                        <h4 class="stamp">{{match_list[2]}}</h4>
                        <h4 class="stamp">{{match_list[3]}}</h4>
                    </div>
                </div>
                <div class="participants">
                    <p>{{ match_list[10] }} / {{ match_list[5] }}</p>
                </div>
            </div>
        </div>
        

        <form method="POST" action="" style="max-width: 50rem; margin:0 auto;">
            <table class="table" style="max-width: 50rem; margin-left:auto; margin-right: auto;font-size:14px; ">
                <thead>
                    <tr>
                        <th>Prijs: €{{match_list[7]}}</th>
                        <th>Ingeschreven:</th>
                        <th>Betaald:</th>
                    </tr>
                </thead>

                <tbody>
                    {% for i in range(n_players) %}
                    <tr>
                        {% if match_list[6] != 1 and participants_data[i][5] == 0 %}
                        <td><input type="checkbox" name="{{ participants_data[i][0] }}" onclick='handleClick(this)'></td>
                        {% else %}
                        <td></td>
                        {% endif %}  
                        <td> {{participants_data[i][0]}} </td>
                        <td> {% if participants_data[i][5] %} Yes! :) {% else %} Nope :( {% endif %} </td>
                    </tr>
                    {% endfor %}               
                </tbody>
            </table>

            <br>
            <input type="submit" id="submit" name="submit" value="€0.00 Betalen" method="POST" action="/" class="btn btn-success" style="display: none"> 
           

            {% if message != ''%}
            <p>
                {{ message }}
            </p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}