{% extends 'layout.html' %}

{% block body %}

<p></p>
<p></p>

<div class="container">
    <div class="one">
        <form method="POST" action="">
            <h1>{{match_list[1]}}</h1>
            <p>{{match_list[2]}} - {{match_list[3]}}</p>
            <p>{{match_list[4]}}</p>
            <p>{{match_list[8]}}</p>
            <p>Maximum aantal mensen: {{match_list[5]}}</p>


            <table style="width:100%;">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ingeschreven:</th>
                        <th>Nieuw</th>          
                        <th>Onder Voorbehoud</th>            
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(n_players) %}
                    <tr>
                        <td>{{ i+1 }}</td>
                        <td>{{participants_data[i][0]}}</td>
                        <td>{{participants_data[i][2]}}</td>    
                        <td>{{participants_data[i][3]}}</td>      
                    </tr>
                    {% endfor %}

                    {% if match_list[6] == "open" %}
                    <tr>
                        <td></td>
                        <td>
                            <datalist id="names" name= "names" method="POST" action="/">
                                {% for name in names %}
                                <option value= "{{name}}" SELECTED>{{name}}</option>"
                                {% endfor %}
                                <option disabled selected value> -- select a name -- </option>
                            </datalist>
                            <input name="uname" autoComplete="off" list="names" class="form-control"/> 
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <label for="newby">Nieuw</label>
                            <input type="checkbox" name="newby"> <br>
                            <label for="tentative">Onder voorbehoud</label>
                            <input type="checkbox" name="tentative">
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endif %}                    
                </tbody>
            </table>
           

            {% if message != ''%}
            <p>
                {{ message }}
            </p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}